@font-face {
    font-family: 'Cascadia-Code';
    src: url(./fonts/cascadia-code/CascadiaCode-Italic-VariableFont_wght.ttf) format('truetype');
    src: url(./fonts/cascadia-code/CascadiaCode-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    src: url(./fonts/ubuntu/Ubuntu-Regular.ttf) format('truetype');
}
p {
    color: #fff6d3;
    font-family: 'Ubuntu';
}

.caixa-main{ /*opcoes do index*/
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 200px;
    left: 250px;
    align-items: center;
    gap: 20px; /* Espaço entre os parágrafos */
    padding: 50px;
    background: linear-gradient(to right, #808080, #808080 92%) top / 100% 30px no-repeat,
    linear-gradient(to right, #b892bd, rgb(247, 189, 189), rgb(227, 200, 149)); /* Gradiente de fundo da caixa */
    border-radius: 10px; /* Bordas arredondadas */
    border-style: solid;
    border-width: 1px;
    border-color: aliceblue;
    width: 1000px; /* Largura da caixa */
    box-shadow: 5px 5px 20px #808080;
}
.layout {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.exemplo {
    margin-left: 20px;
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
}
.exemplo-skinner {
    width: 400px;
    display: flex;
    gap: 100vh;
    flex-direction: column;
    margin-top: 400vh;
}
.imagens-exemplo{
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 10px;
}
.legendas-exemplo {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-right: 200px;
    margin-bottom: 200px;
}
.exemplo img{
    width: 100%;
}
.titulo-index{
    font-size: 19px;
    color:#fff6d3;
}
h3 {
    color: #eb6b6f;
    font-size: 40px;
    font-family: 'Ubuntu';
    text-shadow: #8a5490 0px 0px 10px ;
}
h4, h5 {
    color: #eb6b6f;
    font-size: auto;
    font-family: 'Ubuntu';
}
ol, ul, table {
    color: #fff6d3;
    font-size: auto;
    font-family: 'Ubuntu';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.corpo_padrao {
    padding-top: 18%;
    padding-bottom: 15%;
    background-image: linear-gradient(to bottom, rgb(215, 216, 252), #7c3f58);
    background-repeat: no-repeat;
    margin: auto;
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

body {
    margin: auto;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(215, 216, 252);
    padding-top: 10%;
    img { margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 40vw;}
} 

.menu_btn {
    text-decoration: none; /* Remove sublinhado */
    border-radius: 5px;
    width: 140px;
    display: inline-flex; /* Alinha imagem e texto */
    align-items: center; /* Centraliza verticalmente */
    gap: 10px; /* Espaço entre imagem e texto */
    padding: 10px 20px;
    color: black;
    transition: transform 0.2s ease, background-color 0.3s; 
    flex-direction: column; /* Coloca a imagem acima do texto */
}

.menu_btn img {
  width: 100px; /*Ajuste o tamanho da imagem */
  height: 100px;
}

.menu_btn:hover {
    transform: scale(1.1); /* Aumenta o tamanho do botão ao passar o mouse */
    .opcao-imagem{ transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 50px rgb(71, 38, 71); }
    
}

.lista_limpa {
    display: flex;
    gap: 20px; /* Espaço entre os itens da lista */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu_topo {
    font-family: Ubuntu;
    border-radius: 0px 0px 10px 10px; /*borda arredondada somente no campo inferior*/
    margin: auto;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    gap: 100px; /* Espaço entre as opções do menu */
    background-color: #46425e; 
    padding: 10px 20px; /* Espaçamento interno do menu */
    width: 80%;
    align-items: center;
}

.opcao {
    color:#fff6d3;
    text-decoration: none; /* Remove sublinhado */
    font-size: 18px; 
    transition: 0.5s; 
}

.opcao:hover{
    transform: scale(1.1);
    text-shadow: 0px 0px 5px #c593d5;
}

.container { /* centraliza o conteúdo da página */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa { /* caixa para organizar o conteúdo da página */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espaço entre os parágrafos */
    padding: 30px;
    background-color: #46425e; /* Cor de fundo da caixa */
    border-radius: 10px; /* Bordas arredondadas */
    width: 60%; /* Largura da caixa */
}
.sobre{
    color: #150d43;
    font-family: Cascadia-Code;
    text-decoration: none;
}